
.gps_error {
    color: #D8000C;
    background-color: #FFD2D2;
    position: relative;
    margin: 200;
    padding: 23;
    border-style: solid;
    border-color: #D8000C;
    border-width: 1px;
    border-radius: 5px;    
}

h1 {
    font-family: "Times New Roman", Georgia, Serif;
}

.loading {
    background-color: rgb(158, 203, 206);
    position: relative;
    margin: 200;
    padding: 23;
    border-style: solid;
    border-color: rgb(14, 0, 216);
    border-width: 1px;
    border-radius: 5px;    
}

.border-left {
    border-left-width: thin;
}