
.gps_error {
    color: #D8000C;
    background-color: #FFD2D2;
    position: relative;
    margin: 200;
    padding: 23;
    border-style: solid;
    border-color: #D8000C;
    border-width: 1px;
    border-radius: 5px;    
}

h1 {
    font-family: "Times New Roman", Georgia, Serif;
}

.loading {
    margin: 25% 25% 25% 25%;
    position: absolute;
    z-index: 2;
    border: 1px solid #000;
    height: 50%;
    width: 50%;
    background: #FFF;
}

.borderr {
	border-right: 2px solid #ccc;
}